/*----------------------------------------------------------------------------
reset.css                                                                  
Enthält alle projektspezifischen Resets.

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Basic Resets 
-----------------------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
    letter-spacing: normal;
}


/* Figure Reset
-----------------------------------------------------------------------------*/

figure {
    margin: 0;
}


/* Image Reset 
-----------------------------------------------------------------------------*/

img {
    width: 100%;
}