/* ----------------------------------------------------------------------------
components.css                                                                  
Enthält alle Regeln zu Komponenten.  

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Site Header
-----------------------------------------------------------------------------*/

.site-header {
    margin-bottom: var(--space-stack-xl);
    background-color: var(--color-mi-lila);
}

.site-header__key-visual {
    background-image: url("../images/header-illustration.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: var(--content-width);
    margin: 0 auto;
}

.site-header__title .title {
    color: #fff;
}

.site-header__title .subtitle {
    color: #fff;
}


/* Navigation
-----------------------------------------------------------------------------*/


/* Footer
-----------------------------------------------------------------------------*/

.footer {
    border-top: solid 1px var(--color-borders);
}