/* ----------------------------------------------------------------------------
components.css                                                                  
Enthält alle Regeln zu Komponenten.  

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Site Header
-----------------------------------------------------------------------------*/

.site-header {
    margin-bottom: var(--space-stack-xl);
    height: 99vh;
    background-color: var(--color-mi-lila);
    /* zur Zentrierung des Contents */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Damit der Button unten und zentriert sitzt */
    position: relative;
}

.site-header__key-visual {
    background-image: url("../images/header-illustration.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: var(--space-stack-xl);
}

.site-header__content {
    flex: 1;
    text-align: center;
}

.site-header__content .title {
    color: #fff;
}

.site-header__content .subtitle {
    font-size: var(--fontsize-l);
    color: #fff;
}

.site-header__launch-button {
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


/* Navigation
-----------------------------------------------------------------------------*/


/* Footer
-----------------------------------------------------------------------------*/

.footer {
    border-top: solid 1px var(--color-borders);
}